<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="19000001" android:versionName="19.0.1-SNAPSHOT" package="com.github.kedzie.supportanimator">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17"/>

</manifest>